### Leiningen template
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/resources/public/javascript/gen/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

## IDEA
*.iml
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

resources/version.properties
log_location_IS_UNDEFINED
